<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ResponseV3</servlet-name>
        <servlet-class>ResponseV3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseV2</servlet-name>
        <servlet-class>ResponseV2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageRedirect</servlet-name>
        <servlet-class>PageRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseV3</servlet-name>
        <url-pattern>/ResponseV3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>Redirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eSignDemo</servlet-name>
        <servlet-class>eSignDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eSignDemo</servlet-name>
        <url-pattern>/eSignDemo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eSignAadhaar</servlet-name>
        <servlet-class>eSignAadhaar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eSignAadhaar</servlet-name>
        <url-pattern>/eSignAadhaar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseV2</servlet-name>
        <url-pattern>/ResponseV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageRedirect</servlet-name>
        <url-pattern>/PageRedirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
